body {
    font-family: ui-monospace, "SFMono-Regular", Menlo, Consolas, "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace, Tahoma, sans-serif;
}

p {
    margin: 0;
}

#iteration-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

#iteration-title {
    margin: 0;
}

.big-button {
    padding: 10px 20px;
    font-size: 1em;
}

table {
    border-collapse: collapse;
    border: 2px solid #ccc;
}

th {
    text-align: center;
    background-color: #f5f5f5;
    padding: 8px;
    font-weight: 600;
}

td {
    padding: 8px;
    text-align: center;
}

td:nth-child(odd) {
    background-color: #fafafa;
}

td:nth-child(even) {
    background-color: #ffffff;
}

.section-separator td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 0;
    padding: 0;
}
