body {
    font-family: ui-monospace, "SFMono-Regular", Menlo, Consolas, "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace, Tahoma, sans-serif;
}

.column-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.column {
    flex: 1;
}

#next-phase {
    padding: 20px 30px;
    font-size: 1.3em;
}

#log-container {
    display: inline-block;

    .hide {
        display: none;
    }
}
