body {
    font-family: ui-monospace, "SFMono-Regular", Menlo, Consolas, "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace, Tahoma, sans-serif;
}

p {
    margin: 0;
}

.big-button {
    padding: 10px 20px;
    font-size: 1em;
}

table {
    border-collapse: collapse;
    border: 2px solid #ccc;
}

th {
    text-align: center;
    background-color: #ababab;
    padding: 8px;
    font-weight: 600;
}

td {
    padding: 8px;
    text-align: center;
}
